USE [master]
ALTER DATABASE [LTM_GK] SET COMPATIBILITY_LEVEL = 150
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LTM_GK].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LTM_GK]
GO
/****** Object:  Table [dbo].[BODE]    Script Date: 10/1/2021 8:30:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BODE](
	[CAUHOI] [int] NOT NULL,
	[NOIDUNG] [ntext] NOT NULL,
	[A] [ntext] NOT NULL,
	[B] [ntext] NOT NULL,
	[C] [ntext] NOT NULL,
	[D] [ntext] NOT NULL,
	[DAP_AN] [nchar](10) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIEM]    Script Date: 10/1/2021 8:30:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIEM](
	[MASV] [nchar](8) NULL,
	[NGAYTHI] [datetime] NULL,
	[DIEM] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SINHVIEN]    Script Date: 10/1/2021 8:30:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SINHVIEN](
	[MASV] [nchar](8) NOT NULL,
	[HO] [nvarchar](50) NOT NULL,
	[TEN] [nvarchar](10) NOT NULL,
	[SODIENTHOAI] [nchar](10) NOT NULL,
 CONSTRAINT [PK_SINHVIEN] PRIMARY KEY CLUSTERED 
(
	[MASV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[BODE] ([CAUHOI], [NOIDUNG], [A], [B], [C], [D], [DAP_AN]) VALUES (1, N'mạng máy tính(compute netword) so với hệ thống tập trung multi-user', N'dễ phát triển hệ thống', N'tăng độ tin cậy', N'tiết kiệm chi phí', N'tất cả đều đúng', N'D         ')
INSERT [dbo].[BODE] ([CAUHOI], [NOIDUNG], [A], [B], [C], [D], [DAP_AN]) VALUES (3, N'để một máy tính truyền dữ liệu cho một số máy khác trong mạng, ta dùng loại địa chỉ', N'Broadcast', N'Broadband', N'multicast', N'multiple access', N'C         ')
INSERT [dbo].[BODE] ([CAUHOI], [NOIDUNG], [A], [B], [C], [D], [DAP_AN]) VALUES (4, N'thứ tự phân loại mạng theo chiều dài đường truyền', N'internet, lan, man, wan', N'internet, wan, man, lan', N'lan, wan, man, internet', N'man, lan, wan, internet', N'B         ')
GO
INSERT [dbo].[DIEM] ([MASV], [NGAYTHI], [DIEM]) VALUES (N'001     ', CAST(N'2021-09-29T05:48:15.000' AS DateTime), 3)
GO
INSERT [dbo].[SINHVIEN] ([MASV], [HO], [TEN], [SODIENTHOAI]) VALUES (N'001     ', N'LE VAN ', N'THANH', N'0926624866')
INSERT [dbo].[SINHVIEN] ([MASV], [HO], [TEN], [SODIENTHOAI]) VALUES (N'002     ', N'DAO TRONG', N'KHAI', N'0329413208')
INSERT [dbo].[SINHVIEN] ([MASV], [HO], [TEN], [SODIENTHOAI]) VALUES (N'003     ', N'CAO TUAN', N'KHA', N'0327116194')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_SINHVIEN]    Script Date: 10/1/2021 8:30:41 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_SINHVIEN] ON [dbo].[SINHVIEN]
(
	[SODIENTHOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DIEM]  WITH CHECK ADD  CONSTRAINT [FK_DIEM_SINHVIEN] FOREIGN KEY([MASV])
REFERENCES [dbo].[SINHVIEN] ([MASV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[DIEM] CHECK CONSTRAINT [FK_DIEM_SINHVIEN]
GO
USE [master]
GO
